.theme-btn {
    display: inline-block;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 600;
    line-height: 24px;
    padding: 16px 45px;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: all ease-in-out 0.4s;

    i {
        display: inline-block;
        margin-left: 5px;
    }
}

.theme-btn-dark {
    background: #333333;
    color: #fff;

    &:hover {
        background: #fff;
        color: #333333;
        border-color: #333333;
    }
}

.theme-btn-light {

    background: #fff;
    color: #333333;
    border-color: #333333;

    &:hover {
        background: transparent;
        color: #fff;
    }

}