.cta-area {
    .cta-inner {
        .cta-content-area {
            .cta-title {
                h2 {
                    color: #fff;
                    font-weight: 600;
                    font-size: 53px;
                    line-height: 75px;
                    text-transform: capitalize;
                }
            }
        }
    }

    // outer area

    .cta-outer {
        position: relative;

        .left-img {
            position: absolute;
            top: -100px;
        }
    }
}

@media all and (min-width:320px) and (max-width:575px) {
    .cta-area {
        background: #000;
    }

    .cta-area .cta-outer .left-img {
        position: relative;
        top: 0px;
        display: block;
    }

    .cta-area .cta-inner .cta-content-area .cta-title h2 {
     
        font-size: 32px;
        line-height: 42px;
 
    }
}

@media all and (min-width:576px) and (max-width:768px) {
    .cta-area {
        background: #000;
    }

    .cta-area .cta-outer .left-img {
        position: relative;
        top: 0px;
        display: block;
    }
        .cta-area .cta-inner .cta-content-area{
            text-align: center;
        }

    .cta-area .cta-inner .cta-content-area .cta-title h2 {
     
        font-size: 43px;
        line-height: 53px;
 
    }
}
@media all and (min-width:768px) and (max-width:1100px) {
    .cta-area {
        background: #000;
    }

    .cta-area .cta-outer .left-img {
        position: relative;
        top: 0px;
        display: block;
    }
        .cta-area .cta-inner .cta-content-area{
            text-align: center;
        }

    .cta-area .cta-inner .cta-content-area .cta-title h2 {
     
        font-size: 46px;
        line-height: 56px;
 
    }
}