.payment-system-area {
    .payment-system-area-heading {
        padding: 0px 330px;

        h2 {
            font-size: 52px;
            line-height: 75px;
            color: #333333;
        }
    }

    // list wrapper

    .list-wrapper {
        .list-items {
            li {
                border-radius: 16px;
                border: 1px solid rgba(0, 0, 0, 0.088);
                margin-bottom: 10px;

                &:hover {
                    box-shadow: 2px 4px 2px 8px rgba(128, 128, 128, 0.053);
                    filter: drop-shadow(2px 4px 2px 8px rgba(128, 128, 128, 0.141))
                }
            }

            .list-item {
                .main-item {
                    .icon {
                        height: 72px;
                        width: 72px;
                        display: flex;
                        border-radius: 50%;
                        justify-content: center;
                        align-items: center;
                        background: #ededfd;
                        margin-right: 20px;

                    }

                    .list-info {
                        h4 {
                            text-transform: capitalize;
                            font-weight: 600;
                            font-size: 28px;
                            line-height: 42px;
                            color: #333333;
                        }

                        p {
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 28px;
                            color: #888888;
                        }
                    }
                }

                .list-icon-area {
                    a {

                        height: 48px;
                        width: 48px;
                        border-radius: 50%;
                        background: #000000;
                        color: #fff;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-decoration: none;
                        transform: rotate(40deg);
                        margin-left: 70px;
                        border: 1px solid #000;

                        &:hover {
                            background: #fff;
                            color: #000000;
                        }
                    }
                }
            }
        }
    }
}

@media all and (min-width:320px) and (max-width:575px) {
    .payment-system-area {
        margin-top: -60px;
    }

    .payment-system-area .payment-system-area-heading {
        padding: 0px;
    }

    .payment-system-area .payment-system-area-heading h2 {
        font-size: 32px;
        line-height: 42px;
    }

    .payment-system-area .list-wrapper .list-items .list-item .list-icon-area a {
        margin-left: 0px;
    }

}

@media all and (min-width:576px) and (max-width:767px) {
    .payment-system-area {
        margin-top: -60px;
    }

    .payment-system-area .payment-system-area-heading {
        padding: 0px;
    }

    .payment-system-area .payment-system-area-heading h2 {
        font-size: 42px;
        line-height: 52px;
    }

    .payment-system-area .list-wrapper .list-items .list-item .list-icon-area a {
        margin-left: 0px;
    }

    .payment-system-area .list-wrapper .list-items .list-item {
        padding: 40px;
    }
  .payment-system-area .right-img-area img {
      width: 100%;
      max-height: 400px;
  }
}

@media all and (min-width:768px) and (max-width:992px) {
    .payment-system-area {
        margin-top: -60px;
    }

    .payment-system-area .payment-system-area-heading {
        padding: 0px;
    }

    .payment-system-area .payment-system-area-heading h2 {
        font-size: 42px;
        line-height: 52px;
    }

    .payment-system-area .right-img-area img {
        width: 100%;
        max-height: 400px;
    }


}

@media all and (min-width:992px) and (max-width:1200px) {
    .payment-system-area{
        margin-top: -100px;
    }
    .payment-system-area .payment-system-area-heading {
        padding: 50px;
    }
}