.subscribe-area {
    .cta-content-wrapper {
        .subscribe-area-heading {
            h2 {
                font-weight: 600;
                font-size: 41px;
                line-height: 51px;

            }
        }
    }
}

@media all and (min-width:320px) and (max-width:576px) {
    .subscribe-area .cta-content-wrapper .subscribe-area-heading h2 {
        font-weight: 600;
        font-size: 29px;
        line-height: 44px;
    }
}